@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Welcome to Play") {
    <script type="text/javascript">
            $(document).ready(function() {
                $('#save').click(function() {
                    var d = {
                        'hotelName' : $('#hotelName').val(),
                        'city' : $('#city').val(),
                        'description' : $('#description').val(),
                        'rooms' : $('#rooms').val()
                    };
                    $.ajax({
                        type :  "POST",
                        dataType: 'json',
                        data: JSON.stringify(d),
                        contentType: "application/json; charset=utf-8",
                        url  :  "@routes.ApiController.saveHotel",
                        success: function(data){
                            console.log(data);
                        }
                    });
                    $("#createDialog").dialog('close');
                });
                $("#cancel").click(function () {
                    $("#createDialog").dialog('close');
                });
                $.ajax({
                    type :  "GET",
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    url  :  "@routes.ApiController.getCities",
                    success: function(data){
                        $.each(data, function(i) {
                            $('#cities').append(
                                    $('<option></option>').val(data[i]).html(data[i])
                            );
                        });
                    }
                });
                $('#listCity').click(function () {
                    var city = {
                        "city": $('#cities').val()
                    };
                    $.ajax({
                        type :  "POST",
                        dataType: 'json',
                        data: JSON.stringify(city),
                        contentType: "application/json; charset=utf-8",
                        url  :  "@routes.ApiController.getCity",
                        success: function(data){
                            var dataTable = $('#dataTable');
                            dataTable.empty();
                            var dataTableContent = dataTable.append(
                                    "<table width='100%'>" +
                                    "  <tr><td><b>Hotel Name</b></td><td><b>City</b></td><td><b>Description</b></td><td><b>Rooms</b></td></tr>" +
                                    "</table>");
                            for (var i in  data) {
                                var row = data[i];
                                dataTableContent.find('tbody')
                                        .append($('<tr>')
                                                .append(
                                                        "<td>" + row.name + "</td>" +
                                                        "<td>" + row.city + "</td>" +
                                                        "<td>" + row.description + "</td>" +
                                                        "<td>" + row.rooms + "</td>"
                                                ));
                            }
                        }
                    });
                });
                $("#createDialog").dialog({ autoOpen: false });
                $('#addHotel').click(function () {
                    $("#createDialog").dialog('open');
                });
            });
    </script>
} {
    <a href="@routes.HomeController.index()"><- Back</a>
    <h1>City Operations</h1>
    <table width="100%">
        <tr>
            <td>City</td>
            <td><select id="cities"></select></td>
            <td><input type="button" name="listCity" id="listCity" value="List Hotels"/></td>
            <td><input type="button" name="addHotel" id="addHotel" value="Add Hotel"/></td>
        </tr>
        <tr>
            <td id="dataTable" colspan="3"></td>
        </tr>
    </table>
    <div id="createDialog" style="display: none;">
        <form>
            <table>
                <tr>
                    <td><label for="city">City</label></td><td><input type="text" id="city"/></td>
                </tr>
                <tr>
                    <td><label for="hotelName">Hotel Name</label></td><td><input type="text" id="hotelName"/></td><td></td>
                </tr>
                <tr>
                    <td><label for="description">
                        Description</label></td><td><input type="text" id="description"/></td><td></td>
                </tr>
                <tr>
                    <td><label for="rooms">Rooms</label></td><td><input type="text" id="rooms"/></td><td></td>
                </tr>
            </table>
            <input type="button" name="save" id="save" value="Save"/>
            <input type="button" name="cancel" id="cancel" value="Cancel"/>
        </form>
    </div>
}
