@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Welcome to Play") {
    <script type="text/javascript">
            $(document).ready(function() {
                $('#save').click(function() {
                    var d = {
                        'hotelName' : $('#hotelName').val(),
                        'city' : $('#city').val(),
                        'description' : $('#description').val(),
                        'rooms' : $('#rooms').val()
                    };
                    $.ajax({
                        type :  "POST",
                        dataType: 'json',
                        data: JSON.stringify(d),
                        contentType: "application/json; charset=utf-8",
                        url  :  "@routes.ApiController.saveHotel",
                        success: function(data){
                            console.log(data);
                        }
                    });
                });
                $('#listCity').click(function () {
                    var city = {
                        "city": $('#city').val()
                    };
                    $.ajax({
                        type :  "POST",
                        dataType: 'json',
                        data: JSON.stringify(city),
                        contentType: "application/json; charset=utf-8",
                        url  :  "@routes.ApiController.getCity",
                        success: function(data){
                            var dataTable = $('#dataTable');
                            dataTable.empty();
                            var dataTableContent = dataTable.append(
                                    "<table>" +
                                    "  <tr><th>Hotel Name</th><th>City</th><th>Description</th><th>Rooms</th></tr>" +
                                    "</table>");
                            for (var i in  data) {
                                var row = data[i];
                                dataTableContent.find('tbody')
                                        .append($('<tr>')
                                                .append(
                                                        "<td>" + row.name + "</td>" +
                                                        "<td>" + row.city + "</td>" +
                                                        "<td>" + row.description + "</td>" +
                                                        "<td>" + row.rooms + "</td>"
                                                ));
                            }
                        }
                    });
                });
            });
    </script>
} {
    <a href="@routes.HomeController.index()"><- Back</a>
    <h1>City Operations</h1>
    <form>
        <table>
            <tr>
                <td><label for="city">City</label></td><td><input type="text" id="city"/></td>
                <td><input type="button" name="listCity" id="listCity" value="List Hotels"/></td>
                <td rowspan="3" id="dataTable"></td>
            </tr>
            <tr>
                <td><label for="hotelName">Hotel Name</label></td><td><input type="text" id="hotelName"/></td><td></td>
            </tr>
            <tr>
                <td><label for="description">Description</label></td><td><input type="text" id="description"/></td><td></td>
            </tr>
            <tr>
                <td><label for="rooms">Rooms</label></td><td><input type="text" id="rooms"/></td><td></td>
            </tr>
        </table>
        <input type="button" name="save" id="save" value="Save"/>
    </form>

}
