@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Welcome to Play") {
    <script type="text/javascript">
            var hotels;
            function fillHotels(hotelsSelect, city) {
                hotelsSelect.empty();
                $.ajax({
                    type :  "POST",
                    dataType: 'json',
                    data: JSON.stringify({"city" : city}),
                    contentType: "application/json; charset=utf-8",
                    url  :  "@routes.ApiController.getCity",
                    success: function(data) {
                        hotels = data;
                        $.each(data, function(i) {
                            hotelsSelect.append($('<option></option>').val(data[i].name).html(data[i].name));
                        });
                        if (hotelsSelect.selector == "#hotels") {
                            fillGuests($('#cities'),$('#hotels'),$('#guests'));
                        }
                    }
                });
            }
            function fillGuests(cities, hotelsSelect, guests) {
                guests.empty();
                $.ajax({
                    type : "POST",
                    dataType: 'json',
                    data: JSON.stringify({
                        "city" : cities.val(),
                        "hotelName" : hotelsSelect.val()
                    }),
                    contentType: "application/json; charset=utf-8",
                    url  :  "@routes.ApiController.getGuests",
                    success: function(data) {
                        $.each(data, function(i) {
                            guests.append($('<option></option>').val(data[i]).html(data[i]));
                        });
                    }
                })
            }
            $(document).ready(function() {
                $('#startReserveTime').datepicker({
                    dateFormat: "yy/mm/dd"
                });
                $('#endReserveTime').datepicker({
                    dateFormat: "yy/mm/dd"
                });
                $.ajax({
                    type :  "GET",
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    url  :  "@routes.ApiController.getCities",
                    success: function(data){
                        $.each(data, function(i) {
                            $('#cities').append(
                                    $('<option></option>').val(data[i]).html(data[i])
                            );
                            $('#city').append(
                                    $('<option></option>').val(data[i]).html(data[i])
                            );
                        });
                        var city = $('#cities');
                        fillHotels($('#hotels'), city.val());
                        city.change(function(){
                            fillHotels($('#hotels'), $('#cities').val());
                        });
                        city = $('#city');
                        fillHotels($('#hotelName'), city.val());
                        city.change(function(){
                            fillHotels($('#hotelName'), $('#city').val());
                        });
                    }
                });

                $("#addGuestDialog").dialog({ autoOpen: false });
                $('#addGuest').click(function () {
                    $("#addGuestDialog").dialog('open');
                });

                $('#hotels').change(function () {fillGuests($('#cities'),$('#hotels'),$('#guests'))});
                $('#cancel').click(function() {
                    $("#addGuestDialog").dialog('close');
                });
                $('#save').click(function() {
                    var d = {
                        'hotelName' : $('#hotelName').val(),
                        'city' : $('#city').val(),
                        'guestName' : $('#guestName').val()
                    };
                    $.ajax({
                        type :  "POST",
                        dataType: 'json',
                        data: JSON.stringify(d),
                        contentType: "application/json; charset=utf-8",
                        url  :  "@routes.ApiController.addGuest()",
                        success: function(data){
                            console.log(data);
                        }
                    });
                    $("#addGuestDialog").dialog('close');
                });
                $('#listGuestBookings').click(function () {
                    var startTime = $('#startReserveTime').val();
                    var endTime = $('#endReserveTime').val();
                    var guestName = $('#guests').val();
                    if (!guestName) {
                        alert('Guest name is required');
                        return;
                    }
                    if (!startTime || !endTime) {
                        alert('Time interval is required');
                        return;
                    }
                    var d = {
                        'hotelName' : $('#hotels').val(),
                        'city' : $('#cities').val(),
                        'guestName' : guestName,
                        'startReserveTime' : startTime,
                        'endReserveTime' : endTime
                    };
                    $.ajax({
                        type :  "POST",
                        dataType: 'json',
                        data: JSON.stringify(d),
                        contentType: "application/json; charset=utf-8",
                        url  :  "@routes.ApiController.roomByGuest()",
                        success: function(data){
                            var dataTable = $('#dataTable');
                            dataTable.empty();
                            var dataTableContent = dataTable.append(
                                    "<table width='100%'>" +
                                    "  <tr><td><b>Guest</b></td><td><b>Room</b></td><td><b>Date</b></td></tr>" +
                                    "</table>");
                            for (var i in  data) {
                                var row = data[i];
                                dataTableContent.find('tbody')
                                        .append($('<tr>')
                                                .append(
                                                        "<td>" + row.guestName + "</td>" +
                                                        "<td>" + row.room + "</td>" +
                                                        "<td>" + row.bookingDay + "</td>"
                                                ));
                            }
                        }
                    });
                });
            })
    </script>
} {
    <a href="@routes.HomeController.index()"><- Back</a>
    <h1>Guest Operations</h1>
    <table width="100%">
        <tr>
            <td colspan="6"><input type="button" id="addGuest" name="addGuest" value="Add Guest"/><br/></td>
        </tr>
        <tr>
            <td><label for="cities">City</label></td><td><select id="cities"></select></td>
            <td><label for="hotels">
                Hotel Name</label></td><td><select name="hotels" id="hotels"></select></td>
            <td><label for="guests">
                Guest</label></td><td><select name="guests" id="guests"></select></td>
            <td><label for="startReserveTime">
                startReserveTime</label></td><td><input type="text" id="startReserveTime"/></td>
            <td><label for="endReserveTime">
                endReserveTime</label></td><td><input type="text" id="endReserveTime"/></td>
            <td><input type="button" name="listGuestBookings" id="listGuestBookings" value="List Guest Bookings"/></td>
        </tr>
        <tr>
            <td id="dataTable" rowspan="6"></td>
        </tr>
    </table>
    <div id="addGuestDialog" style="display:none ;">
        <form>
            <table>
                <tr>
                    <td><label for="city">City</label></td><td><select id="city"></select></td>
                </tr>
                <tr>
                    <td><label for="hotelName">
                        Hotel Name</label></td><td><select name="hotelName" id="hotelName"></select></td>
                </tr>
                <tr>
                    <td><label for="guestName">
                        guestName</label></td><td><input name="guestName" id="guestName"></td>
                </tr>
            </table>
            <input type="button" name="save" id="save" value="Save"/>
            <input type="button" name="cancel" id="cancel" value="Cancel"/>
        </form>
    </div>
}
