@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
    @* @play20.welcome(message, style = "Java") *@
    <h1>Some content</h1>
    <form>
        <input type="text" id="userName"/><br/>
        <input type="text" id="password"/><br/>
        <input type="text" id="gender"/><br/>
        <input type="text" id="sessionToken"/><br/>
        <input type="text" id="state"/><br/>
        <input type="text" id="birthYear"/><br/>
        <input type="button" name="save" id="save" value="Save"/>
        <input type="button" name="listCity" id="listCity" value="List Hotels"/>
    </form>

}
